
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}





header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 20px 200px;
}










/*this is headline section*/
.head-contain{
    color: #ff0080;
    font-size: 2rem;
}
.head-first-line-first-letter{
    color: #05631e;
    font-size: 3rem;
}
.head-second-first-letter{
    color: #0f856d;
    font-size: 3rem;
}



/*this is nav section*/

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #004345;
    font-size: 1.2rem;
}
nav ul li a:hover{
    color: #ff0080;
}

/*this is Brand Group section*/


.banner-content{
    max-width: 880px;
    text-align: center;
    margin: 50px auto;
}
.banner-container>img{
    margin-top: 20px;
    width: 100%;
}
/*this is Brand Head and Blog content*/
.banner-head{
    font-size: 3.5rem;
}
.brand-first-line{
    color: #ff0080;
}
.brand-second-line{
    color: #ff00bf;
}

.banner-description{
    color:  #727272;
    text-align: center;
    font-weight: 400;
    margin-bottom: 32px;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
}

/*main section start*/
main{
    max-width: 1440px;
    margin: 70px auto;
}


/*this our features section*/

.features-container{
    display: flex;
    align-items: center;
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-content{
    text-align: left;
    margin-left: 76px;
}
.featuresdes{
    text-align: left;
}
.features-first-line{
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}
h3{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
.features-first-line{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}

/*this is love and enjoy css*/

.love-container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 130px;
}


.love-content-again-conent{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 60px 30px 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

 h4{
    font-size: 3.5rem;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
h6{
    font-size: 1.2rem;
    color: #131313;
}
.love-des{
    margin-top: 20px;
}

.love-image>img{
    width: 100%;
    margin-left: 120px;
}
.image-content{
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    width: 250px;
    height: 150px;
    color: #FFF;
    text-align: center;
    position: relative;
    bottom: 92px;
    padding: 40px;
}
.image-content h5{
    font-size: 3.5rem;
    font-weight: 700;
}
.ten-year-second-line{
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
}

/*this facts css*/

.fact-headline{
    font-size: 2.7rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 24px;
}
.fact-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.facts-container{
    padding: 10px;
}

.box-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 124px;
    margin: 100px;
}

.box-1, .box-2, .box-3, .box-4{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px;
    width: 241px;
}




























/*this is mobile device*/


@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .features-content{
        margin: 10px auto;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    nav ul{
        gap: 25px;
    }
    .features-container{
        flex-direction: column-reverse;
    } 
    .features-content{
        margin: 15px;
        text-align: center;
    }
    .features-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-container>img{
        margin-top: 0;
    }
    .banner-content{
        margin-bottom: 10px;
    }
    .love-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .love-image img{
        width: 100%;
        margin: 5px;
    }
    .image-content{
        position: static;
        max-width: 300px;
        padding: 40px 0 40px 0;
    }
    .box-container{
        flex-direction: column;
        gap: 10px;
        margin: 20px;
    }
    .fact-headline{
        text-align: center;
        margin-bottom: 5px;
    }
    .fact-description{
        text-align: center;
    }

}

/*this is medium device*/

@media screen and (min-width: 577px) and (max-width: 992px) {
    .header{
        padding: 20px;
    }
    nav{
        gap: 10px;
    }
    nav>ul{
        gap: 30px;
    }
    .features-container{
        flex-direction: column-reverse;
        gap: 15px;
    }
    .banner-description{
        margin: 15px 5px;
    }
    .banner-container>img{
        margin-top: -9px;
    }
    .features-content{
        text-align: center;
        margin: 1px;
    }
    .featuresdes{
        text-align: center;
    }
    .love-container{
        gap: 30px;
        margin-top: 40px;
    }
    .love-content{
        margin-left: 15px;
    }
    .love-image{
        margin-right: 15px;
    }
    .love-image img{
        margin-left: 0px;
    }
    .image-content{
        position: static;
        max-width: 300px;
    }


}
















